{% extends 'base/uploadData/uploadHeader.html' %} {% block content %}

{% load static %}

<div class="title">
  <h1>Upload Page</h1>

</div>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img class="logo-78s" src="{% static '/images/78s.png' %}" />
    </div>
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}


      <div id="show" class="upload">
        <div class="box has-advanced-upload">
          <div class="box__input">
            <h3>Please Upload Filled Data Collection</h3>
            {{form.filledDataCollection}}
          </div>

        </div>
      </div>
      {{userForm.errors}}
      <input type="submit" class="mx-auto fadeIn fourth" name="addUser" value="Upload data" />
    </form>
  </div>
</div>
<img class="logo-78s" src="{% static '/images/78s.png' %}" />


<!-- Modal -->
{% include "base/uploadData/details.html" %}
{% include "base/uploadData/upload.html" %}




{% endblock %}