{% extends 'base/tech/techSidenav.html' %} {% block content %} {%block body %}

<body class="sb-nav-fixed sb-sidenav-toggled">
  {% endblock %}
  {% load widget_tweaks %}

  <!--
       content
      -->
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h1 class="mt-4"></h1>

        <!--CARDS-->

        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="card text-center mb-4">
              <div class="card-header">LVQ submited</div>
              <div class="card-footer bg-white text-center">
                <i class="fas fa-check" style="color: #82c921;"></i>
              </div>
              <a class="card-link small" href="#">View Details
                <i class="fas fa-angle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card text-center mb-4">
              <div class="card-header">Outputs submited</div>
              <div class="card-footer bg-white text-center">
                <i class="fas fa-check" style="color: #82c921;"></i>
              </div>
              <a class="card-link small" href="#">View Details
                <i class="fas fa-angle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card text-center mb-4">
              <div class="card-header">Screenshots submited</div>
              <div class="card-footer missing bg-white text-center">
                <i class="fa fa-times"></i>
              </div>
              <a class="card-link small" href="#">View Details
                <i class="fas fa-angle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card text-center mb-4">
              <div class="card-header">Missing data</div>
              <div class="card-footer bg-white text-center" style="color: red;">
                Yes
              </div>
              <a class="card-link small" href="#">View Details
                <i class="fas fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>

        <!--END CARDS-->



        <!--TABLES-->
        <div class="row">
          <div class="col-xl-6">
            <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-table mr-1"></i>List of Users
                <a style="float: right; color:#fff;" href="{% url 'addUser' %}" type="button" class="addbtn">Add
                  User</a>
              </div>
            </div>
            <div class="card card-body">

              <form method="get">
                <i style="padding-left: 2px;" class="fas fa-filter"></i>
                {% for field in myAccessFilter.form %}
                <span id="nameLabel">{{field.label}}</span>
                {{field | add_class:"selection"}}
                {% endfor %}
                <button class="btn filterbtn" type="submit">Filter</button>
              </form>

            </div>
            <div class="card card-body">
              <table class="table table-sm">
                <tr>
                  <th></th>
                  <th>Username</th>
                  <th>Date created</th>
                  <th>Role</th>
                  <th>Area</th>
                  <th></th>

                </tr>
                {% for user in users %}
                <tr>
                  <td></td>
                  <td>{{user.username}}</td>
                  <td>{{user.date}}</td>
                  <td>{{user.role}}</td>
                  <td>{{user.area}}</td>
                  <td><a type="button">Delete</td>

                </tr>
                {% endfor %}

              </table>
            </div>
          </div>


          <div class="col-xl-6">
            <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-table mr-1"></i>List of Accounts
                <a style="float: right;" href="{% url 'addAccount' %}" type="button" class="addbtn">Add Account</a>
              </div>
            </div>
            <div class="card card-body filterTable">

              <form method="POST">
                <i style="padding-left: 2px;" class="fas fa-filter"></i>
                {% csrf_token %}
                {% for field in myAccountFilter.form %}
                <span id="nameLabel">{{field.label}}</span>
                {{field | add_class:"selection"}}
                {% endfor %}
                <button class="btn filterbtn" type="submit">Filter</button>
              </form>

            </div>
            <div class="card card-body">
              <table class="table table-sm">
                <tr>
                  <th></th>
                  <th>Company name</th>
                  <th>Date uploaded</th>
                  <th>Code</th>
                  <th>Status</th>
                  <th>Area</th>
                  <th></th>

                </tr>
                {% for account in accounts %}
                <tr>
                  <td></td>
                  <td>{{account.name}}</td>
                  <td>{{account.dateUploaded}}</td>
                  <td>{{account.code}}</td>
                  <td>{{account.status}}</td>
                  <td>{{account.area}}</td>
                  <td><a type="button">Download</td>

                </tr>
                {% endfor %}

              </table>
            </div>
          </div>
        </div>

    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Erol Mrzic 2020</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!--
      Modals
    -->

  {% endblock %}
</body>