{% extends 'base/base.html' %} {% block sidenav %} {% load static %}

<!--SideNav-->

<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Main</div>
          <a class="box nav-link" href="{% url 'tech'  %}">
            <div class="sb-nav-link-icon">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            Data overview
          </a>
          <a class="box nav-link" href="{% url 'home'  %}">
            <div class="sb-nav-link-icon">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            Edit Summary
          </a>
          <a class="box nav-link" href="{% url 'addUser'  %}">
            <div class="sb-nav-link-icon">
              <i class="fas fa-upload"></i>
            </div>
            Add user
          </a>
          <a class="box nav-link" href="{% url 'addAccount'  %}">
            <div class="sb-nav-link-icon">
              <i class="fas fa-upload"></i>
            </div>
            Add account
          </a>
          <a class="box nav-link" href="{% url 'listAccounts'  %}">
            <div class="sb-nav-link-icon">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            All accounts
          </a>


          <div class="sb-sidenav-footer" style="position: absolute;
      bottom: 0;">
            <div class="small"></div>
            <img class="logo-78s" src="{% static '/images/78s.png' %}" />
          </div>
    </nav>
  </div>
  {% endblock %}
</div>