{% extends 'base/tech/techSidenav.html' %} {% block content %} {%block body %}

<body class="sb-nav-fixed sb-sidenav-toggled">
  {% endblock %}
  {% load static %}
  {% load widget_tweaks %}

  <!--
       content
      -->

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h1 class="mt-4"></h1>

        <!--CARDS-->

        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="card text-center mb-4">
              <div class="card-header">Total Accounts</div>
              <div class="card-footer bg-white text-center">
                <h1>{{total_accounts}}</h1>
              </div>
              <a class="card-link small" href="#">View Details
                <i class="fas fa-angle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card text-center mb-4">
              <div class="card-header">Delivered Accounts</div>
              <div class="card-footer bg-white text-center">
                <h1>{{delivered}}</h1>
              </div>
              <a class="card-link small" href="#">View Details
                <i class="fas fa-angle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card text-center mb-4">
              <div class="card-header">Accounts in analysis</div>
              <div class="card-footer bg-white text-center">
                <h1>{{analysis}}</h1>
              </div>
              <a class="card-link small" href="#">View Details
                <i class="fas fa-angle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card text-center mb-4">
              <div class="card-header">Accounts with possible Gap</div>
              <div class="card-footer bg-white text-center" style="color: red;">
                <h1> {{gap}} </h1>
              </div>
              <a class="card-link small" href="#">View Details
                <i class="fas fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>

        <!--END CARDS-->



        <!--TABLES-->
        <div class="row">
          <div class="col-xl-6">
            <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-table mr-1"></i>List of Users
                <a style="float: right; color:#fff;" href="{% url 'addUser' %}" type="button" class="addbtn">Add
                  User</a>
              </div>
            </div>
            <div class="card card-body">

              <form method="get">
                <i style="padding-left: 2px;" class="fas fa-filter"></i>
                {% for field in myAccessFilter.form %}
                <span id="nameLabel">{{field.label}}</span>
                {{field | add_class:"selection"}}
                {% endfor %}
                <button class="btn filterbtn" type="submit">Filter</button>
              </form>

            </div>
            <div class="card card-body">
              <table id="userTable" class="table table-sm">
                <tr>
                  <th></th>
                  <th>Username</th>
                  <th>Date created</th>
                  <th>Role</th>
                  <th>Area</th>
                  <th></th>

                </tr>
                <tbody>
                  {% include "base/tech/usersList.html" %}
                </tbody>
              </table>
            </div>
          </div>


          <div class="col-xl-6">
            <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-table mr-1"></i>List of Accounts
                <a style="float: right;" href="{% url 'addAccount' %}" type="button" class="addbtn">Add Account</a>
              </div>
            </div>
            <div class="card card-body filterTable">

              <form method="POST">
                <i style="padding-left: 2px;" class="fas fa-filter"></i>
                {% csrf_token %}

                <span id="nameLabel">{{myAccountFilter.form.name.label}}</span>
                {{myAccountFilter.form.name  | add_class:"selection"}}


                <span id="nameLabel">{{myAccountFilter.form.area.label}}</span>
                {{myAccountFilter.form.area  | add_class:"selection"}}

                <span id="nameLabel">{{myAccountFilter.form.status.label}}</span>
                {{myAccountFilter.form.status  | add_class:"selection"}}

                <button class="btn filterbtn" type="submit">Filter</button>
              </form>

            </div>
            <div class="card card-body">
              <table id="accountTable" class="table table-sm">
                <tr>
                  <th></th>
                  <th>Company name</th>
                  <th>Date uploaded</th>
                  <th>Code</th>
                  <th>Status</th>
                  <th>Area</th>
                  <th></th>

                </tr>
                <tbody>

                  {% for account in accounts %}

                  <tr>
                    <td></td>
                    <td>{{account.name}}</td>
                    <td>{{account.dateUploaded}}</td>
                    <td>{{account.code}}</td>
                    <td id="status">{{account.status}}</td>
                    <td>{{account.area}}</td>
                    <td id="uploadBtn" class="hide"><a type="button" href="{% url 'finalPack' %}"
                        style="margin-left: 2px;">Upload</td>
                    <td id="downloadbtn"><a type="button" data-toggle="modal" data-target="#Download">Download
                    </td>

                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Erol Mrzic 2020</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!--
      Modals
    -->
  <div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
  </div>

  <script>
    $(document).ready(function () {


      $('#userTable tr').each(function () {
        var x = $(this).find("#role").html();
        if (x == 'Company') {
          $(this).find("#uploadBtn").removeClass('hide');
        }
      });


      $('#accountTable tr').each(function () {
        var x = $(this).find("#status").html();
        if (x != 'Final Pack Uploaded') {
          $(this).find("#uploadBtn").removeClass('hide');
          $(this).find("#downloadbtn").addClass('hide');
        }
      });




    });
  </script>

  <!-- Modal -->
  {% include "base/uploadData/download.html" %}

  {% endblock %}
</body>