{% extends 'base/navbars/sidenav.html' %} {% block content %}{%block body %}
{% load groupFilter %}
{% load widget_tweaks %}


<body class="sb-nav-fixed sb-sidenav-toggled">
    {% endblock %}
    <div id="layoutSidenav_content">

        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>List of Accounts
                    <a style="float: right;" href="{% url 'addAccount' %}" type="button">Wiew All Accounts</a>
                </div>
            </div>

            <form method="POST">
                <i style="padding-left: 2px;" class="fas fa-filter"></i>
                {% csrf_token %}

                <span id="nameLabel">{{myAccountFilter.form.name.label}}</span>
                {{myAccountFilter.form.name  | add_class:"selection"}}

                <span id="nameLabel">{{myAccountFilter.form.code.label}}</span>
                {{myAccountFilter.form.code  | add_class:"selection"}}

                <span id="nameLabel">{{myAccountFilter.form.dateUploaded.label}}</span>
                {{myAccountFilter.form.dateUploaded  | add_class:"selection"}}

                <span id="nameLabel">{{myAccountFilter.form.status.label}}</span>
                {{myAccountFilter.form.status  | add_class:"selection"}}


                <button class="btn filterbtn" type="submit">Filter</button>
            </form>

            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>Company name</th>
                        <th>Date uploaded</th>
                        <th>Code</th>
                        <th>Status</th>
                        <th>Area</th>
                        <th></th>

                    </tr>
                    {% for account in accounts %}

                    <tr>
                        <td></td>
                        <td>{{account.name}}</td>
                        <td>{{account.dateUploaded}}</td>
                        <td>{{account.code}}</td>
                        <td>{{account.status}}</td>
                        <td>{{account.area}}</td>
                        <td><a type="button">Download</td>

                    </tr>
                    {% endfor %}




                </table>
            </div>
        </div>
    </div>

    {%endblock%}