{% extends 'base/navbars/sidenav.html' %} {% block content %}{%block body %}
{% load groupFilter %}
{% load widget_tweaks %}
{% load static %}




<body class="sb-nav-fixed sb-sidenav-toggled">
    {% endblock %}
    <div id="layoutSidenav_content">
        <div class="container-fluid" style="margin-top: 100px;">

            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>List of Accounts
                    </div>
                </div>

                <form method="POST">
                    <i style="padding-left: 2px;" class="fas fa-filter"></i>
                    {% csrf_token %}

                    <span id="nameLabel">{{myAccountFilter.form.name.label}}</span>
                    {{myAccountFilter.form.name  | add_class:"selection"}}

                    <span id="nameLabel">{{myAccountFilter.form.dateUploaded.label}}</span>
                    {{myAccountFilter.form.dateUploaded  | add_class:"selection"}}

                    <span id="nameLabel">{{myAccountFilter.form.status.label}}</span>
                    {{myAccountFilter.form.status  | add_class:"selection"}}

                    <span id="nameLabel">{{myAccountFilter.form.gap.label}}</span>
                    {{myAccountFilter.form.gap  | add_class:"selection"}}



                    <button class="btn filterbtn" type="submit">Filter</button>
                </form>

                <div class="card card-body">
                    <table id="accountTable" class="table table-sm">
                        <tr>
                            <th></th>
                            <th>Company name</th>
                            <th>Date uploaded</th>
                            <th>Code</th>
                            <th>Status</th>
                            <th>Area</th>
                            <th>Gap possibility</th>

                        </tr>
                        {% for account in accounts %}

                        <tr>
                            <td></td>
                            <td>{{account.name}}</td>
                            <td>{{account.dateUploaded}}</td>
                            <td>{{account.code}}</td>
                            <td id="status">{{account.status}}</td>
                            <td>{{account.area}}</td>
                            <td>{{account.gap}}</td>
                            <td id="viewBtn"><a href="{% url 'overview' account.name %}" type="button"
                                    style="margin-left: 2px;">View
                                    Report</td>
                            <td id="downloadbtn"><a type="button" data-toggle="modal" data-target="#Download">Download
                                    Report
                            </td>

                        </tr>
                        {% endfor %}




                    </table>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    {% include "base/uploadData/download.html" %}

    <script>
        function downloading(val) {
            document.getElementById(val.toString()).src =
                "{% static '/images/loading.gif' %}";

            setTimeout(function () {
                document.getElementById(val).src = "{% static '/images/complete2.png' %}";
            }, 2000);
        }
        $(document).ready(function () {

            $('#accountTable tr').each(function () {
                var x = $(this).find("#status").html();
                if (x != 'Final Pack Uploaded') {
                    $(this).find("#viewBtn").addClass('hide');
                    $(this).find("#downloadbtn").addClass('hide');
                }
            });

        });
    </script>

    {%endblock%}